#title {
	font-size: 20;
	color: #A4E5FE;
	text-align: center;
	vertical-align: center;
	position: relative;
	top: 40vh;
	margin-top: 0;
	width: 70%;
	font-family: 'Open Sans', sans-serif;
	word-spacing: 0.001em;

}
#title:after {
	display: inline-block;
	width: 100%;
	content: "";
}

#landingPage {
	height: 100vh;
	width: 100%;
	text-align: justify;
	background-color: green;
	margin-top: 0;
	padding-top: 0;
	position: absolute;
	z-index: -100;
}

#landingPage:after {
	display: inline-block;
	width: 100%;
	content: "";
}

body {
	padding-top: 0;
	padding:0;
	margin: 0;
	margin-top: 0;
	top:0;
}

html {
	padding: 0;
	top: 0;
	margin: 0;
}

.navbar {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	top: 0px;
	margin-top: 0px;
	position: fixed;
	z-index: 1000;
	height: relative;
	overflow: hidden;
	float: right;
	right: 0;
	background-color: #FEFAFE;
	width: 100%;
}

ul {
	list-style-type: none;
	float: right;
	margin-top: 0;
	margin-bottom: 0;
}

li {
	float: left;
	margin-top: 0;
	top: 0;
	margin: 0;
	width: 200px;
	height: 80px;
	max-width: 200px;
	height: 80px;
	background-color: #FEFAFE;
}

li a {
	text-align: center;
	display: block;
	color: #2F0303;
	text-decoration: none;
	margin-top: 0;
	width: 100%;
	height: 80px;
	vertical-align: center;
	shape-outside: polygon(0 0, 170px 0, 200px 80px, 30px 80px);
	-webkit-clip-path: polygon(0 0, 170px 0, 200px 80px, 30px 80px);
	overflow: hidden;
	transition: all 0.3s ease;
}

li a p {
	vertical-align: center;
	padding-top: 5px;
}

li a:hover {
	color: #FAEAFA;
	background-color: #BA5555;
}

li .active {

}
